body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: #282c37;
    margin-top: 100px;
}
.footer .copyright p {
    font-size: 1.5em;
    color: white;
    margin-left: 100px;
}
