.container_4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container_4 .text-area {
    width: 45%;
    min-width: 600px;
    margin-right: 50px;
}
.container_4 .text-area h2 {
    font-size: 7em;
    border-bottom: 3px solid black;
    margin: 0 0 10px 0;
}
.container_4 .text-area p {
    font-size: 1.5em;
    text-align: justify;
    line-height: 1.5;
}
.container_4 img {
    width: 35%;
    min-width: 420px;
    border: 7px solid black;
}
}